{% extends 'base.html' %}

{% block head %}
<title>New Post</title>
{% endblock %}



{% block body %}
<h1>New Post</h1>

    <hr>
    <h2>New Blog Post:</h2>
    <form action="/posts" method="POST">
            Title: <input class="form-control" type="text" name="title" id="title" placeholder="Enter Title" aria-label="Title">
            Author: <input class="form-control" type="text" name="author" id="author" placeholder="Enter Author" aria-label="Author">
            Post: <textarea class="form-control" type="text" name="content" id="content" rows="3" placeholder="Enter Content"></textarea>
            <br>
            <input type="submit" value="Post">
    </form>
    <hr>

{% endblock %}